---
import Layout from "@layouts/Layout.astro"
import { mainSiteSEO } from "@utils/seoData/mainSite"

const modifiedDate = new Date('2024-03.24').toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
})

const image = mainSiteSEO.image
const url = mainSiteSEO.url

---

<Layout
    title="Privacy Policy"
    desc="Privacy Policy"
    image={image}
    url=`${url}/legal/privacy`
    type="article"
>
    <main>
        <div class="title">
            <h1 class="main-title">Privacy Policy</h1>
            <p class="last-modified">Last modified: {modifiedDate}</p>
        </div>
        <h2>WEBSITE PRIVACY POLICY</h2>
        <p>At CoD: Mobile Database, accessible from https://www.codmdb.com (the “Site”), one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by CoD: Mobile Database and how we use it.</p>
        <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
        <h2>LOG DATA</h2>
        <p>Like any other website, CoD: Mobile Database collects log files. The information that these log files contain is not considered personally identifiable. These files are used to help us analyze how the website is used.</p>
        <h2>COLLECTED INFORMATION</h2>
        <p>The information that CoD: Mobile Database collects includes the following:</p>
        <ul>
            <li>Log Files</li>
            <li>Internet Protocol (IP) Address</li>
            <li>Browser type</li>
            <li>Operating system</li>
            <li>Accessed pages</li>
            <li>Error messages</li>
        </ul>
        <h2>CHANGES TO THIS PRIVACY POLICY</h2>
        <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</p>
        <h2>CONTACT US</h2>
        <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us <a href="privacy@codmdb.com">here</a>.</p>
    </main>
</Layout>